asgiref==3.11.0
bcrypt==4.2.1
Django==6.0.4
django-cors-headers==4.9.0
django-environ==0.12.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.4.0
drf-spectacular==0.30.0
gunicorn==23.0.0
pillow==12.1.0
psycopg2-binary==2.9.11
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.9.0
boto3==1.35.99
django-storages==1.14.6
paramiko==3.5.1
defusedxml==0.7.1

